body{
    background-color: #7fffd4 ;
}
img{
    border-radius: 50%;
}
.container0{
    background-color: #20b2aa;
    color : whitesmoke;
    display: inline-block;
    border-radius: 10px;
    padding: 20px;
}